<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Allure.Commons" version="2.3.64.1" targetFramework="net461" />
  <package id="Bridge.Core" version="17.1.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net461" />
  <package id="MimeTypesMap" version="1.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net461" />
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="NUnit.Allure" version="1.0.5" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.43" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
</packages>